.Home {
	overflow: hidden;
	margin-top: 96px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0px 10px 10px 10px;
}

.GameReview {
	background-color: #6F7AA0;
	cursor: pointer;
	border: 1px solid white;
	border-radius: 5px;
	padding: 25px 10px;
	margin-right: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 20%;
}

.GameReview h3 {
	color: white;
}

.GameReview div	 {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 25%;
	height: 1.1em;
	padding: 5px;
	border: 1px solid white;
	border-radius: 2px;
	color: black;
	font-weight: bold;
}

.GameReview img {
	width: 60%;
	height: auto;
}

.HorizontalScrollable {
	display: flex;
	flex-direction: row;
	margin-top: 5px;
	padding: 10px;
	width: 95vw;
	height: auto;
	border-radius: 5px;
	background-color: #4E5778;
	overflow-x: scroll;
}

.HorizontalScrollableTitle {
	display: block;
	color: white;
}

.LoginPopup {
	position: absolute;
	top: 0px;
	left: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
}

.LoginFormWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2%;
	border: 1px solid white;
	border-radius: 4px;
	background-color: #161618;
	width: 30vw;
	height: 40vh;
}

.LoginFormWrapper h2 {
	margin: 3% 0px;
	color: white;
	font-size: 2em;
}

.LoginFormWrapper hr {
	width: 90%;
	margin-bottom: 3%;
	color: white;
}

.LoginFormWrapper form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.LoginFormWrapper label {
	margin-bottom: 3%;
	color: white;
	font-weight: bold;
}

.LoginFormWrapper input {
	margin-bottom: 5%;
	display: block;
	width: 50%;
	height: 2em;
}

.LoginFormWrapper input[type=submit] {
	margin-top: 5%;
	width: 30%;
	height: auto;
	cursor: pointer;
	font-size: 1em;
	background-color: #212124;
	color: white;
	padding: 2%;
	border: 2px solid white;
	border-radius: 5px;
}

.LoginFormWrapper input[type=submit]:hover {
	background-color: #313134;
}

.LoginFormWrapper input[type=submit]:active {
	background-color: #111114;
}
